kind: Secret
apiVersion: v1
metadata:
  name: {{ inventory_db_name }}
  labels:
    app.kubernetes.io/name: {{ inventory_db_name }}
    app.kubernetes.io/part-of: {{ inventory_app_name }}
stringData:
  database-user: {{ inventory_db_user }}
  database-password: {{ inventory_db_password }}
  database-name: {{ inventory_db_database }}
type: Opaque