apiVersion: v1
kind: Secret
metadata:
  name: {{ recommendation_engine_name }}
  labels:
    app.kubernetes.io/name: {{ recommendation_engine_name }}
    app.kubernetes.io/part-of: {{ recommendation_engine_app_name }}
type: "Opaque"
stringData:
  application.properties: |-

    quarkus.kafka-streams.application-id={{ recommendation_engine_streams_application_id }}

    quarkus.kafka-streams.topics={{ recommendation_engine_streams_topics }}

    quarkus.kafka-streams.commit.interval.ms={{ recommendation_engine_streams_commit_interval }}

    kafka-streams.replication.factor={{ recommendation_engine_streams_replication_factor }}

    tracking-event-topic={{ recommendation_engine_tracking_event_topic }}
