apiVersion: v1
kind: Secret
metadata:
  name: {{ activity_tracking_service_name }}
  labels:
    app.kubernetes.io/name: {{ activity_tracking_service_name }}
    app.kubernetes.io/part-of: {{ activity_tracking_app_name }}
type: "Opaque"
stringData:
  application.properties: |-
    mp.messaging.outgoing.tracking-event.topic={{ kafka_topics_prefix }}.{{ activity_tracking_service_tracking_topic }}
