apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: {{ activity_tracking_simulator_name }}
spec:
  port:
    targetPort: http
  to:
    kind: Service
    name: {{ activity_tracking_simulator_name }}
    weight: 100
  wildcardPolicy: None
  tls:
    insecureEdgeTerminationPolicy: Redirect
    termination: edge

